{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="{% static 'js/style1.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  {% block meta %}

  {% endblock meta %}
</head>

<body>
    <div class = "wrapper">
        <div class="item">
            <div class = "accordion_wrap">
                <div class = "accordion_header">
                    
                    <div class="content">Aktivitas</div>
                    <div class="move">
                        <div class="move-up"><p>up</p></div>
                        <div class="move-down"><p>down</p></div>
                    </div>
                </div>
                <div class = "accordion_body">
                    <p>Kuliah</p> 
                </div>
            </div>
            </div>
        
    <div class="item">
        <div class = "accordion_wrap">
            <div class = "accordion_header">
                
                <div class="content">Organisasi</div>
                <div class="move">
                    <div class="move-up"><p>up</p></div>
                    <div class="move-down"><p>down</p></div>
                </div>
            </div>
            <div class = "accordion_body">
                <p>FUKI</p> 
            </div>
        </div>
        </div>
            <div class="item">
                <div class = "accordion_wrap">
                    <div class = "accordion_header">
                        
                        <div class="content">Semester</div>
                        <div class="move">
                            <div class="move-up"><p>up</p></div>
                            <div class="move-down"><p>down</p></div>
                        </div>
                    </div>
                    <div class = "accordion_body">
                        <p>3</p> 
                    </div>
                </div>
                </div>
            <div class="item">
        <div class = "accordion_wrap">
            <div class = "accordion_header">
                
                <div class="content">Prestasi</div>
                <div class="move">
                    <div class="move-up"><p>up</p></div>
                    <div class="move-down"><p>down</p></div>
                </div>
            </div>
            <div class = "accordion_body">
                <p>Coming Soon</p> 
            </div>
        </div>
    </div>
</div>
  {% block content %}
  {% endblock content %}
</body>

</html>